.contact{
  background: #faf8f8;
  height:100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}
.contact-img img{
  max-width: 100%;
  width: 720px;
  height:auto;
  border-radius: 10px;
}
.contact-form h1{
  font-size:60px;
  color: rgb(65, 10, 66);
  margin-bottom:20px;
  font-style: italic;
}
.contact-form p{
  color: rgb(65, 10, 66);
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;

}
.contact-form form{
  position: relative;

}
.contact-form form input, form textarea{
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background:rgb(18, 18, 18);
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  border-radius:10px;
}
.contact-form textarea{
  resize: none;
  height: 200px;

}
.contact-form form .btn{
  display: inline-block;
  background: #74263e57;
  font-size: 1.1rem;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;
}
.contact-form form .btn:hover{
  border: 2px solid #915468;
  background: transparent;
  transform: scale(1.1);
}.blogs .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.blogs .box-container .box{
  border:var(--border);    
}

.blogs .box-container .box .image{
  height: 25rem;
  overflow:hidden;
  width: 100%;
}

.blogs .box-container .box .image img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img{
  transform: scale(1.2);
}

.blogs .box-container .box .content{
  padding:2rem;
}

.blogs .box-container .box .content .title{
  font-size: 2.5rem;
  line-height: 1.5;
  color:rgb(21, 21, 20);
}

.blogs .box-container .box .content .title:hover{
  color:var(--main-color);
}

.blogs .box-container .box .content span{
  color:var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p{
  font-size: 1.6rem;
  line-height: 1.8;
  color:rgb(236, 40, 40);
  padding:1rem 0;
}
#heading{
  height: 70px;
  width: 100%;
  background-color:blueviolet;
  margin: 5px;
}
#navbar{
  height: 40px;
  width: 100%;
  margin: 5px;
  background-color:blueviolet;
}
#body-bar{
  height: 500px;
  width: 77%;
  margin: 5px;
  background-color: rgb(89, 89, 101);
  float: right;
}
body{
  background-color: rgba(235, 224, 229, 0.902);
}
#navbar ul{
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  margin: 0px;
}
#navbar ul li{
  display:inline-block;
}
#navbar ul li a{
  text-decoration: none;
  padding: 5em;
  color: white;
}
#navbar li a:hover{
  color: brown;
}
table, th, td {
  border:1px solid rgb(13, 13, 13);
}

tbody tr:nth-child(even){
  background-color: rgb(161, 241, 241);
}
footer{
  background-color: rgb(3, 3, 46);
  text-decoration-color: #fff;
}